body,
html {
  margin: 0;
  height: 100%;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(91, 203, 76, 1) 74%,
    rgba(252, 70, 107, 0.3785889355742297) 100%
  );
  font-family: 'Kiwi Maru', serif;
}

@media screen and (max-width: 480px) {
  .container {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .progress-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
    gap: 3px;
  }

  .bar-square {
    background-color: white;
    border: 2px solid black;
    padding: 8px;
  }

  .options {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .options button {
    padding: 1rem 2rem;
  }
  .filled {
    background-color: chartreuse;
  }
  .filled-yellow {
    background-color: yellow;
  }
  .filled-orange {
    background-color: tomato;
  }
  .filled-red {
    background-color: rgb(201, 73, 99);
  }
  .filled-finish {
    background-color: red;
  }

  .main {
    padding: 2rem;
  }

  .header h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .container {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .progress-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    justify-content: space-between;
  }

  .bar-square {
    background-color: white;
    border: 2px solid black;
    padding: 5px;
  }

  .options {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .options button {
    padding: 1rem 2rem;
  }
  .filled {
    background-color: chartreuse;
  }
  .filled-yellow {
    background-color: yellow;
  }
  .filled-orange {
    background-color: tomato;
  }
  .filled-red {
    background-color: rgb(201, 73, 99);
  }
  .filled-finish {
    background-color: red;
  }

  .main {
    padding: 2rem;
  }

  .header h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .progress-bar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 2rem;
  }

  .bar-square {
    background-color: white;
    border: 3px solid black;
    padding: 1rem;
  }

  .options {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .options button {
    padding: 1rem 2rem;
    font-size: 1.3rem;
  }
  .filled {
    background-color: chartreuse;
  }
  .filled-yellow {
    background-color: yellow;
  }
  .filled-orange {
    background-color: tomato;
  }
  .filled-red {
    background-color: rgb(201, 73, 99);
  }
  .filled-finish {
    background-color: red;
  }

  .main {
    padding: 2rem;
  }

  .header h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding-top: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .progress-bar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .bar-square {
    background-color: white;
    border: 3px solid black;
    padding: 1rem;
  }

  .options {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .options button {
    padding: 1rem 2rem;
    font-size: 1.3rem;
  }
  .filled {
    background-color: chartreuse;
  }
  .filled-yellow {
    background-color: yellow;
  }
  .filled-orange {
    background-color: tomato;
  }
  .filled-red {
    background-color: rgb(201, 73, 99);
  }
  .filled-finish {
    background-color: red;
  }

  .main {
    padding: 2rem;
  }

  .header h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
  }
}
