@import "../../utils/sass/main.scss";

.progress-bar {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin-bottom: 2rem;

	&__square {
		background-color: white;
		border: 3px solid black;
		padding: 1rem;
	}
}

.filled {
	background-color: chartreuse;
}

.filled-yellow {
	background-color: yellow;
}

.filled-orange {
	background-color: tomato;
}

.filled-red {
	background-color: rgb(201, 73, 99);
}

.filled-finish {
	background-color: red;
}

@include media-screen("mobile-vertical") {
	.progress-bar {
		margin: 1rem 0;
		gap: 12px;
		&__square {
			border: 2px solid black;
			padding: 9px;
		}
	}
}

@include media-screen("mobile-horizontal") {
	.progress-bar {
		margin: 1rem 0;
		gap: 1rem;
		&__square {
			border: 2px solid black;
			padding: 0.8rem;
		}
	}
}

@include media-screen("tablet-vertical") {
	.progress-bar {
		margin: 1rem 0;
		gap: 1rem;
		&__square {
			border: 3px solid black;
			padding: 1.5rem;
		}
	}
}

@include media-screen("tablet-horizontal") {
	.progress-bar {
		margin: 2rem 0;
		gap: 1.3rem;
		&__square {
			border: 4px solid black;
			padding: 2rem;
		}
	}
}

@include media-screen("desktop") {
	.progress-bar {
		// margin-bottom: 2rem;
		// gap: 3px;
		&__square {
			// border: 2px solid black;
			// padding: 8px;
		}
	}
}
